/* VARIAVEIS E RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  --light-text: #222222;
  --border-btn: #424242;
  --postit-color: #FFFF99;
  --postit-hover: #02cf02;
  --btn-transparent-color: rgba(255, 255, 153, 0.4);
  --border-btn-transparent: rgba(66, 66, 66, 0.4);
  --text-btn-transparent: rgba(0, 0, 0, 0.4);
  --black: #000000;
  --white: #FFFFFF;
  --red: #FF0000;
  --dark-red: #b30000;
}

/* MAIN */
#canva-container-main {
  min-width: 100%;
  min-height: 100vh;
}

#canva-container-top {
  min-height: 70vh;
  display: flex;
  min-width: 100%;
}

#canva-container-bottom {
  min-height: 30vh;
  display: flex;
  min-width: 100%;
}

#button-canva {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 2px solid var(--border-btn-transparent);
  background-color: var(--btn-transparent-color);
  color: var(--text-btn-transparent);
  font-weight: 700;
  padding: 1% 1.5%;
  transition: all 0.3s ease;
}

#button-canva:hover {
  border: 2px solid var(--border-btn);
  background-color: var(--postit-color);
  color: var(--black);
  cursor: pointer;
}

/* TOP LEFT */
.canva-area {
  border: 1.5px solid var(--black);
  width: 50%;
}

.title-canva-area {
  font-size: 16px;
  padding: 5%;
}

.text-canva-area {
  font-size: 12px;
  font-weight: 300;
  color: var(--light-text);
  padding: 0 5%;
}

/* TOP RIGHT */
.canva-area-right {
  width: 100%;
  min-height: 35vh;
}

#canva-container-right {
  width: 50%;
}

/* BOTTOM */
.title-canva-area-bottom {
  padding: 2%;
}

.text-canva-area-bottom {
  padding: 0 0 0 2%;
}

/* POST-IT AREA */
.postIt-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#canva-container-bottom div .postIt-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}